@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "系統登入";
    ViewBag.BodyClass = "login";
    ViewBag.IsFirstPage = true;
}


<h1 class="logo"><span>後台管理系統</span>Web Manager</h1>
<h2 class="copyright">JCIN &copy; 2014</h2>

<div class="login-box">
    <h3>登入 LOGIN</h3>
    <form>
        <div class="form-group has-feedback">
            <label class="control-label">帳號</label>
            <input type="text" class="form-control" placeholder="帳號">
            <i class="fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label">密碼</label>
            <input type="password" class="form-control" placeholder="密碼">
            <i class="fa-lock form-control-feedback"></i>
        </div>
        <div class="form-group">
            <label class="control-label">語系</label>
            <select class="form-control" name="" id="">
                <option value="">繁體中文</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">驗證碼</label>
            <div class="row">
                <div class="col-xs-3">
                    <img src="" alt="code here">
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" placeholder="驗證碼">
                </div>
                <div class="col-xs-4">
                    <button class="btn-warning"><i class="fa-refresh"></i> 換一張</button>
                </div>
            </div>
        </div>
        <div class="form-action">
            <div class="row">
                <div class="col-xs-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <span>記住我</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-3 col-xs-offset-1">
                    <button class="btn-info"><i class="fa-key"></i> 登入</button>
                </div>
                <div class="col-xs-4">
                    <button type="submit"><i class="fa-question-circle"></i> 忘記密碼</button>
                </div>
            </div>
        </div>
    </form>
</div>