@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "修改密碼";
    ViewBag.BodyClass = "ch2 p5";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 後台介面</a></li>
}

<h3 class="title">
    <span>後台介面 <i class="fa-angle-double-right"></i></span>
    @ViewBag.Title
</h3>

<div class="alert alert-success">
    <p><i class="fa-check"></i> 修改完成，日後請使用新密碼登入！</p>
</div>

<div class="alert alert-warning">
    <p><i class="fa-exclamation-triangle"></i> 新密碼不符合規則，請輸入6個字元以上，須包含英數字。</p>
    <p><i class="fa-exclamation-triangle"></i> 您輸入的2組新密碼不符合，請再輸入一次。</p>
</div>

<h4 class="title">修改密碼</h4>

<form action="" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-2 control-label">原密碼</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" />
        </div>
        <small class="help-inline text-danger col-xs-2">必填</small>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">新密碼</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" />
            <small class="help-block">6個字元以上，須包含英數字</small>
        </div>
        <small class="help-inline text-danger col-xs-2">必填</small>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">確認新密碼</label>
        <div class="col-xs-5">
            <input class="form-control" type="password" />
            <small class="help-block">請再輸入一次新密碼</small>
        </div>
        <small class="help-inline text-danger col-xs-5">必填</small>
    </div>
    <div class="form-action">
        <div class="col-xs-2 col-xs-offset-2">
            <button type="submit" class="btn-primary"><i class="fa-check"></i> 確定修改</button>
        </div>
    </div>
</form>