@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "操作影片";
    ViewBag.BodyClass = "ch2 p6";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 後台介面</a></li>
}

<h4 class="title">@ViewBag.Title</h4>

<div class="alert alert-warning">
    <p><i class="fa-info-circle"></i> 影片播放須使用 Flash 播放器，如無法觀看影片，<a class="alert-link" href="http://get.adobe.com/shockwave/" target="new">請按此下載並安裝 Flash</a> 。</p>
</div>

<ul class="list-link list-unstyled">
    <li>
        <a href=""><i>1</i>【公司簡介、營業項目】操作教學</a>
    </li>
    <li>
        <a href=""><i>2</i>【產品介紹】操作教學</a>
    </li>
    <li>
        <a href=""><i>3</i>【最新消息】操作教學</a>
    </li>
    <li>
        <a href=""><i>4</i>【公司簡介、營業項目】操作教學</a>
    </li>
    <li>
        <a href=""><i>5</i>【產品介紹】操作教學</a>
    </li>
    <li>
        <a href=""><i>6</i>【最新消息】操作教學</a>
    </li>
</ul>