@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "表單自動完成";
    ViewBag.BodyClass = "ch3 p8";
}
@section breadCrumb {
    <li><a href=""><i class="fa-list-alt"></i> 特效套件</a></li>
}
@section CSS {
    
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/vendor/typeahead/typeahead.bundle.js"></script>
    <script type="text/javascript">
        $(function () {

        	var substringMatcher = function(strs) {
        		return function findMatches(q, cb) {
        			var matches, substrRegex;
        			// an array that will be populated with substring matches
        			matches = [];
        			// regex used to determine if a string contains the substring `q`
        			substrRegex = new RegExp(q, 'i');
        			// iterate through the pool of strings and for any string that
        			// contains the substring `q`, add it to the `matches` array
        			$.each(strs, function(i, str) {
        				if (substrRegex.test(str)) {
        				// the typeahead jQuery plugin expects suggestions to a
        				// JavaScript object, refer to typeahead docs for more info
        				matches.push({ value: str });
        				}
        			});
        			cb(matches);
        		};
        	};
        	var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];
        		$('.addr').typeahead({
        			hint: true,
        			highlight: true,
        			minLength: 1
        		},
        		{
        			name: 'states',
        			displayKey: 'value',
        			source: substringMatcher(states)
        		}); 
        	});
    </script>
}

<h4 class="title">@ViewBag.Title</h4>

<div class="alert alert-info">
    <ol class="list-order">
        <li>套件名稱: typeahead.js</li>
        <li>官網: <a class="alert-link" href="https://twitter.github.io/typeahead.js/">https://twitter.github.io/typeahead.js/</a></li>
    </ol>
</div>

<form class="form-horizontal" action="">
	<div class="form-group">
		<label class="control-label col-xs-2" for="">States of USA</label>
		<div class="col-xs-5">
			<input type="text" class="form-control addr">
		</div>
	</div>
</form>